@charset "utf-8";
.total_container{
	width: 100%;
	padding: 0 5%;
}
.payment_container{
	width: 90%;
	border:1px solid red;
	background-color:#FCFCFC;
}
.payment_title{

}
.payment_request{
	/* justify-content:space-between; */
}
.flexbox {
	display: flex;
}
.payment_product_container{
	display: grid;
	grid-template-columns:4fr 1fr 1fr 1fr;
	border:1px solid blue;
	margin:1rem 1rem;
}
